
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  @include border-radius(4px, 4px);
  background: #FFFFFF;
  color: #000000;
  font-size: 1.1rem;
  line-height: 1;
  padding: 0.6em 1em 0.6em;
  border: 1px solid #C3C3C3;
  @include single-transition();
  @include transition-duration(0.5s);
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  border-color: $magentadark;
  color: $magentadark;
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
  //outline: 1px dotted $magentadark;
  border-color: $magentadark;
  color: $magentadark;
;
}


//ANCIENT
/*
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid;
  border-color: $color__border-button;
  border-radius: 3px;
  background: $color__background-button;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, .8);
  @include font-size(0.75);
  line-height: 1;
  padding: .6em 1em .4em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);

  &:hover {
    border-color: $color__border-button-hover;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
  }

  &:active,
  &:focus {
    border-color: $color__border-button-focus;
    box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
  }
}
*/