.featured-image {
  border: 3px dashed #f78b53;
  margin-top: 0px;
  margin-bottom: 0px;
  @include breakpoint($desktop) {
    margin-top: -1.8em;
  } //breakpoint($desktop)
  @include breakpoint($desktop_large) {
    margin-top: -2em;
  } //breakpoint($desktop_large)
  img {
    display: block;
    margin: 0px auto;
  } //img
} //.featured-image

.featured-image-index {
  margin-top: 1em;
  margin-bottom: 0px;
  @include breakpoint($iphone) {
    border: 2px dashed royalblue;
  } //breakpoint($iphone)
  @include breakpoint($tablet) {
    border: 2px dashed palevioletred;
  } //breakpoint($tablet)
  @include breakpoint($laptop) {
    border: 2px dashed rebeccapurple;
  } //breakpoint($iphone)
  @include breakpoint($desktop) {
    border: 2px dashed darkblue;
  } //breakpoint($iphone)



  /*
  @include breakpoint($desktop) {
    margin-top: 0px;
    margin-bottom: -1.5em;
  } //breakpoint($desktop)
  @include breakpoint($desktop_large) {
    margin-top: 0px;
    margin-bottom: -1em;
  } //breakpoint($desktop_large)*/
  img {
    display: block;
    margin: 0px auto;
  } //img
} //.featured-image