$size__site-main: 100%;
$size__site-sidebar: 25%;

// SUSY setup
$susy: (
  columns: 12,
  container: 1200px,
  gutters: 1/8,
  gutter-position: inside
);

//Breakpoint media queries
$desktop: 40em;

//$desktop: 1200px;
$laptop: 990px 1199px;
$tablet: 700px 989px;
$iphone: max-width 699px;

