$size__site-main: 100%;
$size__site-sidebar: 25%;

// SUSY setup
$susy: (
  columns: 12,
  container: 1200px,
  gutters: 1/8,
  gutter-position: inside
);

//Breakpoint media queries
$desktop: 40em;
$desktop_large: 57em;

$desktop: 1200px;
$laptop: 960px 1199px;
$tablet: 768px 959px;
$iphone: max-width 767px;

//$zona1: max-width 800px;
$zona2: min-width 801px;
$zona3: min-width 30.1em;
$zona4: min-width 50em;
