$font__main: 'Titillium Web', sans-serif;
$font__title: 'Merriweather', serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

// Titillium Web:   200, 300i, 400i, 600i, 700)
// Roboto:          100, 300i, 400i, 500, 700
// Merriweather:    300, 400, 700

