//Comments styles

.comments-area {
  margin: 4em 0;
  @include breakpoint($zona2) {
    margin: 2em 1em;
  } //breakpoint($zona2)
  @include breakpoint($zona4) {
    margin: 4em 3em;
  } //breakpoint($zona4)
  .comments-title {
    margin-bottom: 1em;
    @include font-size(2);
    text-align: center;
  } //.comments-title
  .comment-list { //ol
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    ol {
      list-style-type: none;
    }
    .comment { //li
      .comment-body {
        border-bottom: 1px solid #c3c3c3;
        margin-bottom: 2em;
        .comment-meta {
          position: relative;
          margin-left: 70px;
          @include font-size(1.1);
          @include breakpoint($zona3) {
            margin-left: 80px;
            @include font-size(1);
          }
          .avatar {
            position: absolute;
            left: -70px;
            top: -5px;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            @include breakpoint($zona3) {
              top: -7px;
              left: -80px;
              width: 60px;
              height: 60px;
            } //breakpoint($zona3)
            @include breakpoint($zona4) {
              top: -8px;
              left: -90px;
              width: 70px;
              height: 70px;
            } //breakpoint($zona4)
          } //.avatar
        } //.comment-meta
        .comment-content {
          @include breakpoint($zona3) {
            margin-left: 80px;
          } //breakpoint($zona3)
          @include breakpoint($zona4) {
            margin-left: 80px;
          } //breakpoint($zona4)
        } //.comment-content
      } //.comment-body
      .children {
        margin-left: 1em;
        padding-left: 0px;
        @include breakpoint($zona3) {
          margin-left: 2em;
        } //breakpoint($zona3)
        @include breakpoint($zona4) {
          margin-left: 3em;
        } //breakpoint($zona4)
      } //.children
    } //.comment
  } //.comment-list
} //.comments-area




.comment-meta a {
  text-decoration: none;
}

.comment-meta a:hover,
.comment-meta a:focus {
  border-bottom: 2px solid #000;
}

.comment-metadata a:hover,
.comment-metadata a:focus {
  border-color: #c3c3c3;
}

.comment-author {
  font-size: 1.4em;
  line-height: 1.3em;
  b {
    font-weight: 400;
  } //b
  @include breakpoint($iphone) {
    font-size: 1.1em;
  } //breakpoint($iphone)
} //.comment-author

.says {
  font-size: 80%;
}

.comment-metadata {
  margin-top: .2em;
  padding-bottom: .5em;
  font-size: .8em;
  line-height: 1em;
}

.comment-metadata a {
  color: #808080;
}

.reply {
  margin-bottom: 1.5em;
  text-align: right;
}

.reply a {
  display: inline-block;
  padding: .5em 1.4em;
  font-family: "Fira Sans", sans-serif;
  font-size: 85%;
  color: #333;
  line-height: 1.3em;
  text-decoration: none;
  //border: 1px solid #c3c3c3;
  outline: 1px solid #C3C3C3;
  @include single-transition();
  @include transition-duration(0.5s);
}

.reply a:hover,
.reply a:focus {
  color: $magentadark;
  outline: 2px solid $magentadark;
}

.comment-content ol {
  list-style-type: decimal;
}

.comment-content a {
  word-wrap: break-word;
}

.bypostauthor .avatar {
  box-sizing: content-box;
  border: 5px solid #c3c3c3;
  margin-top: -5px;
  margin-left: -5px;
}


//ORIGINAL
.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}
