.site-footer {
  padding: 6em 1em;
  text-align: center;
  background-color: $greydark;
  color: #FFFFFF;
  a {
    color: #FFFFFF;
    border-bottom: 1px dashed #C3C3C3;
    text-decoration: none;
    @include single-transition();
    @include transition-duration(0.4s);
    &:hover,
    &:focus {
      border-color: $magentalight;
      color: $magentalight;
    } //&:hover, &:focus
  } //a
} //.site-footer