.site-header {
  background-color: rgba(130, 130, 130, 0.8);
  .site-branding {
    text-align: center;
    .site-title {
      margin: 0px;
      font-family: $font__main;
      @include font-size(2);
      font-weight: 300;
      text-transform: uppercase;
      line-height: 1.8;
      word-break: break-word;
      &::after {
        display: block;
        content: "";
        margin: 0px auto 0.5em;
        width: 3em;
        border-bottom: 1px solid rgba(50, 50, 50, 0.7);
        opacity: 0.8;
      }
      @include breakpoint($iphone) {
        @include font-size(1.6);
      } //breakpoint($iphone)
      a {
        text-decoration: none;
        color: inherit;
        &:hover,
        &:focus {
          color: inherit;
        } //&:hover, &:focus
      } //a
    } //.site-title
    .site-description {
      margin: 0px;
      line-height: 1;
      word-break: break-word;
      @include font-size(1.1);
    } //.site-description
  } //.site-branding



  .menu-toggle {
    background-color: transparent;
    border: 1px solid #D1D1D1;
    color: #1A1A1A;
    font-size: 14px;
    font-weight: 400;
    margin: 1.0769223077 0px;
    padding: 0.769230769em;
    @include breakpoint($zona1) {
      font-size: 16px;
      margin: 1.3125em 0;
      padding: 0.8125em 0.875em 0.6875em;
    } //breakpoint($zona1)
    &:hover,
    &:focus {
      background-color: transparent;
      border-color: #007ACC;
      color: #007ACC;
    } //&:hover, &:focus
    &.toggled-on {
      &:hover,
      &:focus {
        background-color: #1A1A1A;
        border-color: #1A1A1A;
        color: #FFFFFF;
      } //&:hover, &:focus
      &:focus {
        outline: thin dotted;
      }
    } //&.toggled-on
    &:focus {
      outline: 0;
    }
  } //.menu-toggle
} //.site-header

.no-js .menu-toggle {
  display: none;
}