.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
  overflow: hidden;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

// GLOBAL

.site-main {
  margin: 1.4em;
  @include breakpoint($desktop) {
    margin: 1.8em;
  }
  @include breakpoint($desktop_large) {
    border: 2px dotted aquamarine;
    max-width: 45em;
    margin: 1.8em auto;
  }
  @include font-size(0.9);
  line-height: 1.6em;
  @include breakpoint($desktop) {
    @include font-size(1.125);
  }
}

// POST META
.entry-meta {
  padding: 0.3em 0px;
  @include font-size(0.8);
  background: #EEEEEE;
  font-family: $font__main;
  text-align: center;
  @include breakpoint($zona2) {
    text-align: left;
    padding: 0.5em 1em;
    @include font-size(0.9);
  }
  a {
    font-weight: 400;
  } //a
  .byline {
    display: block;
    padding: 0px;
    margin: 0px;
    line-height: 1.5;
  } //byline
  .posted-on {
    display: block;
    padding: 0px;
    margin: 0px;
    line-height: 1.5;
  } //.posted-on
  .comments-link {
    display: block;
    padding: 0px;
    margin: 0px;
    line-height: 1.5;
  } //.comments-link
} //.entry-meta


// CUSTOM EXCERPT
.deck {
  margin-bottom: 1em;
  p {
    text-align: center;
    @include font-size(1.1);
    font-weight: 400;
    line-height: 1.5;
  }
}




















