//ORIGINAL
.sticky {
  position: relative;
	display: block;
  &::before {
    position: absolute;
    top: 0px;
    right: 0px;
    display: block;
    font-family: 'Fontawesome';
    content: "\f08d";
  } //&::before
} //.sticky

.hentry {
	margin: 0px 0px 1.5em;
}

.byline,
.posted-on,
.entry-meta .comments-link {
  display: block;
  padding: 0px;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
  overflow: hidden;
}

.page-links {
	clear: both;
	margin: 0px 0px 1.5em;
}

.single .hentry,
.page .hentry {
  padding-bottom: 0px;
} //.single .hentry, .page .hentry



//SINGLE POST STYLES (only affects content)
.site-main {
  article {
    .entry-header {
      .entry-title {
        margin-top: 1.5em;
        margin-bottom: 0.5em;
        @include font-size(1.8);
        line-height: 1.3em;
        text-align: center;
        font-family: $font__main;
        font-weight: 200;
        text-transform: uppercase;
        color: #000000;
        word-wrap: break-word;
        @include breakpoint($iphone) {
          margin-top: 0.5em;
          @include font-size(1.6);
          line-height: 1.2;
        } //breakpoint($iphone)
        @include breakpoint($tablet) {
          margin-top: 0.5em;
          @include font-size(1.8);
          line-height: 1.2em;
        } //breakpoint($tablet)
        @include breakpoint($laptop) {
          margin-top: 0.5em;
          @include font-size(2);
          line-height: 1.3em;
        } //breakpoint($tablet)
        @include breakpoint($desktop) {
          margin-top: 0.5em;
          @include font-size(2.1);
          line-height: 1.3em;
        } //breakpoint($tablet)
        a {
          color: inherit;
          text-decoration: none;
          position: relative;
          &:hover,
          &:focus {
            color: darkmagenta;
            border-bottom: 1px dashed darkmagenta;
          } // &:hover, &:focus
        } //a
        //INDEXES
        &.index-excerpt {
          //margin-top: 1em;
          //margin-bottom: 0.5em;
        } //&.index-excerpt
      } //entry-title
      // POST META
      .entry-meta {
        padding: 0.3em 0px;
        @include font-size(0.8);
        background: #EEEEEE;
        font-family: $font__main;
        text-align: center;
        @include breakpoint($tablet) {
          padding: 0.5em 1em 0.7em;
          @include font-size(0.9);
        }
        @include breakpoint($laptop) {
          padding: 0.5em 1em 0.7em;
          @include font-size(1);
        }
        @include breakpoint($desktop) {
          padding: 0.5em 1em 0.7em;
          @include font-size(1.1);
        }
        a {
          font-weight: 400;
          text-decoration: none;
          border-bottom: 1px dashed #C1C1C1;
          @include single-transition();
          @include transition-duration(0.4s);
          &:hover,
          &:focus {
            color: darkmagenta;
            border-bottom: 1px dashed darkmagenta;
          } //&:hover, &:focus
        } //a
        .byline {
          display: block;
          padding: 0px;
          margin: 0px;
          line-height: 1.5;
          @include breakpoint($iphone) {
            //line-height: 1.3;
          } //breakpoint($iphone)
        } //byline
        .posted-on {
          display: block;
          padding: 0px;
          margin: 0px;
          line-height: 1.5;
          @include breakpoint($iphone) {
            //line-height: 1.3;
          } //breakpoint($iphone)
        } //.posted-on
        .comments-link {
          display: block;
          padding: 0px;
          margin: 0px;
          line-height: 1.5;
          @include breakpoint($iphone) {
            //line-height: 1.3;
          } //breakpoint($iphone)
        } //.comments-link
      } //.entry-meta
      .index-entry-meta {
        background: #EEEEEE;
        @include font-size(0.8);
        text-align: center;
        line-height: 1.5;
        padding: 0.5em 0px;
        a {
          text-decoration: none;
          @include single-transition();
          @include transition-duration(0.4s);
          border-bottom: 1px dashed #C1C1C1;
          &:hover,
          &:focus {
            color: darkmagenta;
            border-bottom: 1px dashed darkmagenta;
          } //&:hover, &:focus
        } //a
        .byline {
          display: inline-block;
          &:after {
            content: "|";
            padding: 0px 0.5em;
          } //&:after
        } //.byline
        .posted-on {
          display: inline-block;
        } //.posted-on
        .comments-link {
          display: inline-block;
          &:before {
            content: "|";
            padding: 0px 0.5em;
          } //&:before
        } //.comments-link
      } //.index-entry-meta
      .deck {
        margin-bottom: 1em;
        p {
          text-align: center;
          @include font-size(1);
          font-weight: 300;
          line-height: 1.5;
          @include breakpoint($zona2) {
            @include font-size(1.1);
          }
        } //p
      } //.deck (custom excerpt)
    } //.entry-header
    .entry-content {
      @include breakpoint($iphone) {
        margin: 1em 0px 0px;
      }
      @include breakpoint($tablet) {
        margin: 1em 0px 0px;
      }
      @include breakpoint($laptop) {
        margin: 1em 0px 0px;
      }
      @include breakpoint($desktop) {
        margin: 1em 0px 0px;
      }
      p {
        &:last-child {
          margin-bottom: 0.5em;
        }
      } //p
      a {
        text-decoration: none;
        @include single-transition();
        @include transition-duration(0.4s);
        border-bottom: 1px dashed #C1C1C1;
        &:hover,
        &:focus {
          color: darkmagenta;
          border-bottom: 1px dashed darkmagenta;
        } //&:hover, &:focus
      } //a
      img {
        margin-bottom: 1em;
      } //img
      figure {
        img {
          margin-bottom: 0px;
        } //img
        .wp-caption-text {
          margin: 0px;
          @include font-size(0.7);
          color: #3a3a3a;
        }
      } //figure
      &.index-excerpt {
        margin-top: 0.5em;
      } //&.index-excerpt
      .continue-reading {
        text-align: center;
        a {
          @include font-size(1);
          display: inline-block;
          margin: 0px auto 1em;
          padding: 0.5em 1.5em;
          text-decoration: none;
          border: 1px solid #C3C3C3;
          &:hover,
          &:focus {
            border-color: darkmagenta;
          } //&:hover, &:focus
          &::after {
            content: "...";
          } //&::after
        } //a
        &::after {
          display: block;
          content: "";
          width: 7em;
          border-bottom: 1px dotted #C3C3C3;
          margin: 3em auto 1em;
        } //&::after
      } //.continue-reading

    } //.entry-content
    .entry-summary {
      a {
        text-decoration: none;
        @include single-transition();
        @include transition-duration(0.4s);
        border-bottom: 1px dashed #C1C1C1;
        &:hover,
        &:focus {
          color: darkmagenta;
          border-bottom: 1px dashed darkmagenta;
        } //&:hover, &:focus
      } //a
    } //.entry-summary
    .entry-footer {
      font-family: $font__main;
      @include font-size(0.95);
      font-style: italic;
      text-align: center;
      a {
        text-decoration: none;
        &:hover,
        &:focus {
          color: darkmagenta;
          border-bottom: 1px dashed darkmagenta;
        } //&:hover, &:focus
      } //a
      &::before,
      &::after {
        display: block;
        content: "";
        width: 7em;
        border-bottom: 1px solid #C3C3C3;
        margin: 1em auto;
      } //&::before, &::after
      &::before {
        //width: 3.5em;
      }
      span {
        a {
          font-weight: 400;
          text-decoration: none;
          color: #000000;
          border-bottom: 1px dashed #C1C1C1;
        } //a
        margin: 0.5em 0px;
        &::after {
          content: "|";
          padding: 0px 1em;
        }
        &:last-of-type::after {
          content: "";
          padding: 0px;
        }
      }
    } //.entry-footer
  } //article

} //.site-main

//POST STYLES (affects content and sidebar)
.site-content {
  ul {
    li {
      list-style: square;
      line-height: 1.5em;
      padding-top: 0.3em;
      padding-bottom: 0.3em;
      &:last-child {
        margin-bottom: 0px;
      } //&:last-child
      & > ul {
        margin-bottom: -0.5em;
      } //& > ul
    } //li
  } //ul
  ol {
    li {
      line-height: 1.3em;
      padding-top: 0.3em;
      padding-bottom: 0.3em;
      &:last-child {
        margin-bottom: 0px;
      } //&:last-child
      & > ol {
        margin-bottom: -0.5em;
      } //& > ol
    } //li
  } //ol
} //.site-content













