.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

// GLOBAL
.site-main {
  border: 1px dashed darkmagenta;
	margin: 1.4em;
  overflow: hidden;
  @include breakpoint(30em) {
    margin: 1.8em;
  }
  @include breakpoint(57em) {
    @include container (45em);
    margin: 1.8em auto;
  }
  @include font-size(0.9);
  line-height: 1.6em;
  @include breakpoint($desktop) {
    @include font-size(1.125);
  }
}